@model np_project.Models.RegisterViewModel

@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h2 class="text-uppercase text-center">
                        Регистрация
                        @if (ViewBag.UserType == 2)
                        {
                            @:нотариуса
                       }
                        else
                        {
                            @:клиента
                       }
                    </h2>

                    <p class="lead text-center">
                        Я
                        @if (ViewBag.UserType == 2)
                        {
                            @:нотариус, и хочу найти клиентов
                       }
                        else
                        {
                            @:клиент, и хочу найти нотариуса
                       }
                    </p>
                    <p>Регистрация займет у Вас меньше минуты</p>
                    <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Создайте новую учетную запись.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email )
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password )
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword )
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        @Html.HiddenFor(m => m.GroupId, new { @Value = ViewBag.UserType });

                        <div class="text-center">
                            <button type="submit" class="btn btn-template-main" value="Регистрация"><i class="fa fa-user-md"></i> Зарегистрироваться</button>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



