@model np_project.Models.IndexViewModel
@{
    ViewBag.Title = "Управление";
}


<div id="content" class="clearfix">

    <div class="container">

        <div class="row">

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->
   
             <div class="col-md-9 clearfix" id="customer-account">
                 <div class="box">
                     <p class="text-success">@ViewBag.StatusMessage</p>
                     <div>
                         <h4>Изменение параметров учетной записи</h4>
                         <hr />
                         <dl class="dl-horizontal">
                             <dt>Пароль:</dt>
                             <dd>
                                 [
                                 @if (Model.HasPassword)
            {
                                     @Html.ActionLink("Смена пароля", "ChangePassword")
                                 }
                                 else
                                 {
                                     @Html.ActionLink("Создать", "SetPassword")
                                 }
                                 ]
                             </dd>
                             <dt>Внешние имена входа:</dt>
                             <dd>
                                 @Model.Logins.Count [
                                 @Html.ActionLink("Управление", "ManageLogins") ]
                             </dd>
                             @*
                    Номера телефонов можно использовать в качестве второго проверочного фактора для системы двухфакторной проверки подлинности.

                     В <a href="http://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>
                        вы можете узнать, как настроить для этого приложения ASP.NET двухфакторную проверку подлинности с использованием SMS.

                     Настроив двухфакторную проверку подлинности, раскомментируйте следующий блок.
                             *@
                             @*
                    <dt>Номер телефона:</dt>
                    <dd>
                        @(Model.PhoneNumber ?? "None")
                        @if (Model.PhoneNumber != null)
                        {
                            <br />
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                            }
                        }
                        else
                        {
                            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                        }
                    </dd>
                             *@
                             <dt>Email:</dt>
                             <dd>
                                 @if (Model.Email != "")
                                 {

                                     @Model.Email
                                 }
                                 else
                                 {
                                     @:Email не обнаружен
                }
                             </dd>
                         </dl>
                     </div>
                 </div>

                <div class="box clearfix">
                    <div class="heading">
                        <h3 class="text-uppercase">Personal details</h3>
                    </div>

                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname">Firstname</label>
                                        <input type="text" class="form-control" id="firstname">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname">Lastname</label>
                                        <input type="text" class="form-control" id="lastname">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="company">Company</label>
                                        <input type="text" class="form-control" id="company">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="street">Street</label>
                                        <input type="text" class="form-control" id="street">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="row">
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="city">Company</label>
                                        <input type="text" class="form-control" id="city">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="zip">ZIP</label>
                                        <input type="text" class="form-control" id="zip">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="state">State</label>
                                        <select class="form-control" id="state"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <label for="country">Country</label>
                                        <select class="form-control" id="country"></select>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="phone">Telephone</label>
                                        <input type="text" class="form-control" id="phone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email_account">Email</label>
                                        <input type="text" class="form-control" id="email_account">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-save"></i> Save changes</button>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>
                <!-- /.col-md-9 -->
                <!-- *** LEFT COLUMN END *** -->
                <!-- *** RIGHT COLUMN ***
        _________________________________________________________ -->

                <div class="col-md-3">
                    <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Customer section</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li class="active">
                                    <a href="customer-orders.html"><i class="fa fa-list"></i> My orders</a>
                                </li>
                                <li>
                                    <a href="customer-wishlist.html"><i class="fa fa-heart"></i> My wishlist</a>
                                </li>
                                <li>
                                    <a href="customer-account.html"><i class="fa fa-user"></i> My account</a>
                                </li>
                                <li>
                                    <a href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->
                    <!-- *** CUSTOMER MENU END *** -->
                </div>

                <!-- *** RIGHT COLUMN END *** -->

            </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->











